body {
  background: url(sky.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
  height: 100vh;
}

.plane{
 position: absolute;
 top:30%;
 right: -500px;
 animation: animate 10s linear 0s infinite reverse;
}

.plane img{
 width: 500px; 
}

@keyframes animate {
 from {right:-500px;}
 to {right: 102%;}
}
.cloud img{
  position: absolute;
  gap: 50px;
  animation: moveCloud 40s linear infinite; 
}

@keyframes moveCloud {
  0% {
    transform: translateX(-100px);
  }
  100% {
    transform: translateX(calc(100vw + 100px));
  }
}